<template name="AddViewComments">
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Comments</h4>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-6">
                                {{#each comments}}
                                <p>{{price}}<br>
                                </p>
                                {{/each}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <label for="comment">Add a new comment below:</label>
                                <textarea class="form-control" name="comment"></textarea>
                                <br/>
                                <button class="btn btn-default btn-xs">Add Comment</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</template>