<template name="Main">
    <div class="container">
        <div class="page-header">
            <div class="pull-right">{{> atNavButton}}</div>
            <div class="container logo">
                <img height="65px" src="/images/logo.jpg" /> <div><h1>Central Food PickUp</h1></div>
            </div>
        </div>
        <div class="container mainContent">
            {{> yield}}
        </div>
        <hr/>
        <p align="center">Copyright &copy; CentralFoodPickUp, 2015.</p>
    </div>
</template>