<template name="ConfirmAndPay">
    {{> EmployeeNavigation PageName="Confirm and Pay"}}
    <div class="table-responsive">
        <table class="table table-hover" id="confirmAndPay">
            <thead>
            <tr>
                <th>Item Name</th>
                <th>Price</th>

            </tr>
            </thead>
            <tr>
                <td>Roast beef sandwich with fries</td>
                <td>$7.95</td>

            </tr>
            <tr>
                <td>Roast chicken sandwich with fries and a drink</td>
                <td>$10.95</td>
            </tr>
            <tr>
                <td><br><b>Total Price</b></td>
                <td><b>$18.90</b></td>
            </tr>
            <tr>
                <td></td>
                <td><br><button class="btn btn-default"> Pay </button></td>
            </tr>
        </table>
    </div>
</template>