<template name="ConfirmAndPay">
    {{> EmployeeNavigation PageName="Confirm and Pay"}}
    <div class="table-responsive">
        <table class="table table-hover" id="confirmAndPay">
            <thead>
            <tr>
                <th>Item Name</th>
                <th>Price</th>

            </tr>
            </thead>
            {{#each OrderedItems }}
                <tr>
                    <td>{{name}}</td>
                    <td>{{displayprice}}</td>
                </tr>
            {{/each}}
            <tr>
                <td>Tax</td>
                <td>{{tax}}</td>
            </tr>
            <tr>
                <td><b>Total Price</b></td>
                <td><b>{{total}}</b></td>
            </tr>
            <tr>
                <td></td>
                <td><br>
                    <button class="btn btn-default"> Pay</button>
                </td>
            </tr>
        </table>
    </div>
</template>