<template name="FoodMenu">
    {{> EmployeeNavigation PageName="Food Menu"}}
    <div class="table-responsive">
        <table class="table table-condensed" id="foodMenu">
            <thead>
            <tr>
                <th>Item Name</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            {{#each items}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{price.cad}}</td>
                    <td>
                        <div class="checkbox">
                            <label><input itemprice="{{price.cents}}" itempricedisplay="{{price.cad}}" itemname="{{name}}" type="checkbox" value="{{_id}}"></label>
                        </div>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
        <div class="floatRight">
            <a href="#" class="btn btn-default">
                Next
            </a>
        </div>
    </div>
</template>