<template name="ViewAllOrders">
    {{> KitchenStaffNavigation PageName="View All Orders"}}
    <div class="table-responsive">
        <table class="table table-hover allOrders" id="allOrders">
            <thead>
            <tr>
                <th>ID</th>
                <th>Description</th>
                <th>Price</th>
                <th>PickUp Time</th>
                <th>Comments</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {{#each orders}}
                <tr>
                    <td>{{orderId}}</td>
                    <td>{{description}}</td>
                    <td>{{price}}</td>
                    <td>{{pickuptime}}</td>
                    <td>{{#each comments}} {{comment}} {{/each}}</td>
                    <td>{{status}}</td>
                    <td>
                        <button class="btn btn-xs btn-danger" orderId='{{_id}}'>Delete</button>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</template>