<template name="ViewPendingOrders">
    {{> KitchenStaffNavigation PageName="View Orders" }}
    <div class="table-responsive">
        <table class="table table-hover" id="pendingOrders">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>PickUp Time</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {{#each orders }}
                <tr>
                    <td>{{orderId}}</td>
                    <td>{{description}}</td>
                    <td>$ {{price}}</td>
                    <td>{{pickuptime}}</td>
                    <td>
                        <button class="btn btn-xs btn-primary" orderId='{{_id}}'>Mark As Ready</button>
                        <button class="btn btn-xs btn-warning" orderId='{{_id}}'>View/Add Comment</button>
                        <button class="btn btn-xs btn-danger" orderId='{{_id}}'>Cancel</button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</template>